.header { 
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0 1px 10px -2px var(--gray);
    @media (max-width: 1200px) {
        display: none;
    }
}

.header-options {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    @media (max-width: 1250px) {
        width: 50%;
    }
}

.header .logo{
    display: flex;
    align-self: center;
}
.header .logo img{
    height: 70px;
    width: auto;
    padding: 1rem;
}

.header-options__item {
    padding: 1rem;
    color: var(--font-color);
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    transition: transform 250ms;
}
a {
    text-decoration: none;
}

.header-options__item:hover {
    transform: translateY(-5px);
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
}

.avatar-container .icon {
    width: 20px;
    height: auto;
}

.avatar-container .other-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.avatar {
    height: 70px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 100%;
    border-radius: 10px;
  }

  .dropdown-content a {
    text-decoration: none;
    padding: 10px;
    color: var(--font-color);
  }

  .dropdown-content a:hover{
    background-color: var(--light-gray);
  }

  
  
  .avatar:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

.header-mobile {
    display: none;
    @media (max-width: 1200px) {
        display: flex;
        position: sticky;
        background-color: var(--white);
        top: 0;
        z-index: 10;
        justify-content: space-between;
        padding-inline: 10px;
        align-items: center;
        width: 100%;
        box-shadow: 0 1px 10px -2px var(--gray);
    }
}

.header-mobile .logo{
    display: flex;
    align-self: center;
}
.header-mobile .logo img{
    height: 70px;
    width: auto;
    padding: 1rem;
}

.header-mobile .header-mobile__side .side-bar {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.header-mobile .header-mobile__side .side-bar img {
    height: 40px;
    width: auto;
}

.header-mobile .header-mobile__side .side-bar .side-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    border-radius: 10px;
}

.header-mobile .header-mobile__side .side-bar .side-dropdown a {
    text-decoration: none;
    padding: 10px;
    color: var(--font-color);
}

.header-mobile .header-mobile__side .side-bar .side-dropdown a:hover{
    background-color: var(--light-gray);
}

.header-mobile .header-mobile__side .side-bar:hover .side-dropdown {
    display: flex;
    flex-direction: column;
}