.recommendations-header h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px; /* Más espacio desde el header */
    margin-bottom: 20px; /* Espacio entre el título y la sección */
}

.recommendations-container-wrapper {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px 0; /* Espaciado superior e inferior */
    border-radius: 10px;
    margin-top: 20px; /* Espacio entre el título y la sección de recomendaciones */
}

.recommendations-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-items: center; /* Centra las tarjetas */
    padding: 0 20px; /* Espacio lateral */
}

.recommendation-card {
    width: 100%;
    max-width: 320px; /* Tamaño máximo de las tarjetas */
    height: 380px; /* Fijo para mantener el mismo tamaño */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

    .recommendation-card:hover {
        transform: translateY(-10px);
    }

.recommendation-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.recommendation-content {
    padding: 15px;
    text-align: center;
}

    .recommendation-content p {
        font-size: 18px;
        margin-bottom: 10px;
    }

.btn-expand {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-expand:hover {
        background-color: #0056b3;
    }

.expanded-content {
    padding: 15px;
    background-color: #f7f7f7;
    border-top: 2px solid #ddd;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .recommendations-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .recommendations-container {
        grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    }
}
