.searchbar .search-list {
    position: absolute;
    background-color: var(--white);
    width: 40%;
    top: 28%;
    border: solid 1px var(--light-gray);
    border-radius: 10px;
    @media (max-width: 1200px){
        width: 80%;
        top: 24%;
    }
}

.searchbar .search-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.searchbar .search-list ul li{
    list-style-type: none;
    padding: 10px;
    transition: transform 250ms;
}

.searchbar .search-list ul li:hover{
    background-color: var(--light-gray);
}