.signup{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup .container{
    box-shadow: 1px 1px 6px 1px lightgray;
    width: 70%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-self: center;
}

.signup .container .form-grid{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.signup .container .form-grid .form-group{
    display: flex;
    flex-direction: column;
}

.signup .container .form-grid .form-group input{
    border: 1px solid var(--input-border-color);
    height: 10px;
    padding: 1rem;
    border-radius: 20px;
}