* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --green: rgb(12, 150, 21);
  --green-lighter: rgb(127, 207, 133);
  --white: white;
  --font-color: black;
  --light-gray: #E7E7E7;
  --input-border-color: rgb(219, 215, 215);
  --input-border-active-color: rgb(127, 207, 133);
  --primary-button: #588a4d;
  --primary-button-hover: #447b37;
  --gray: rgb(54, 54, 54);
}

button.primary-button{
  border: 0px;
  background-color: var(--primary-button);
  border-radius: 50px;
  padding: 10px 20px;
  color: var(--white);
  font-size: 15px;
}

button.primary-button:hover{
  cursor: pointer;
  background-color: var(--primary-button-hover);
  color: var(--white);
}

button.secondary-button{
  border: 0px;
  background-color: var(--white);
  border-radius: 50px;
  border: solid 1px var(--primary-button);
  padding: 10px 20px;
  color: var(--primary-button);
  font-size: 15px;
}

button.secondary-button:hover{
  cursor: pointer;
  background-color: var(--primary-button-hover);
  color: var(--white);
}


a.green{
  text-decoration: underline;
  color: var(--green);
  cursor: pointer;
}

input {
  border-radius: 20px;
  border: solid 1px var(--light-gray);
  padding-inline: 15px;
  padding-block: 10px;
  font-size: 15px;
  outline: none;
}

textarea {
  border-radius: 20px;
  border: solid 1px var(--light-gray);
  padding-inline: 15px;
  padding-block: 10px;
  font-size: 15px;
  outline: none;
  min-height: 150px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

select {
  border-radius: 20px;
  border: solid 1px var(--light-gray);
  padding-inline: 15px;
  padding-block: 10px;
  font-size: 15px;
  outline: none;
}

.input-element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-element label{
  font-size: 20px;
  font-weight: 600
}

.input-element label span{
  color: var(--light-gray);
}

